*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Vagrantfile
!example_box/Vagrantfile
.vagrant
*.swp
testboxes/vagrant-libvirt-installtest/.vagrant/
!testboxes/vagrant-libvirt-installtest/Vagrantfile
testboxes/vagrant-libvirt-installtest/vagrant-libvirt-0.0.15.gem
