*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
bin/
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/Vagrantfile
.vagrant
*.swp
.deps
docs/favicon.ico

# don't commit the generated version
lib/vagrant-libvirt/version
