!example_box/Vagrantfile
!tests/*/Vagrantfile
*.box
*.gem
*.rbc
*.swp
.bundle
.config
.vagrant
.yardoc
Gemfile.lock
InstalledFiles
Vagrantfile
_yardoc
bin/
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# don't commit the generated version
lib/vagrant-libvirt/version
