<volume>
  <name><%= @name %></name>
  <capacity unit="G"><%= @capacity %></capacity>

  <target>
    <format type='qcow2'/>
    <permissions>
      <owner>0</owner>
      <group>0</group>
      <mode>0600</mode>
      <label>virt_image_t</label>
    </permissions>
  </target>

  <backingStore>
    <path><%= @backing_file %></path>
    <format type='qcow2'/>
    <permissions>
      <owner>0</owner>
      <group>0</group>
      <mode>0600</mode>
      <label>virt_image_t</label>
    </permissions>
  </backingStore>
</volume>

